body {
	margin: 0; padding: 0;
	font-family: Arial;
}

.heading {
	background: linear-gradient(30deg, #fbbf24, #38bdf8);
	padding: 1px;
}

h1 {
	text-align: center;
	color: white;
}

h3 {
	float: right;
}

.floors {
	margin: 50px;
	padding: 20px;
}

.floor {
	display: flex;
	border-bottom: 2px solid darkgray;
	padding-top: 30px;
}

.btns {
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 8px 15px;
	margin: 10px;
	border-radius: 3px;
	border:  none;
	color: white;
	cursor: pointer;
}

.btn:hover {
	background: rgba(0, 0, 0, 0.3);
}

.btn-yellow {
	background: #fbbf24;
}

.btn-blue {
	background: #38bdf8;
}

.lifts {
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
}

.lift {
	height: 100px;
	width: 80px;
	background: #a3e635;
}

.doors {
	height: 80%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.door-left, .door-right {
	margin: 1px;
	background: rgba(0,0,0,0.5);
	width: 45%;
	transition: transform 2.5s;
}

.lift:hover {
	background: #84cc16;
	cursor: pointer;
}

.f2 {
	margin-left: 130px;
}

.f3 {
	margin-left: 260px;
}