body {
	margin: 0; padding: 0;
	font-family: Arial;
}

.hidden {
	display: none;
}

.heading {
	background: #eab308;
	padding: 1px;
}

h1 {
	text-align: center;
	color: white;
}

h3 {
	float: right;
}

.floors {
	margin: 50px;
	padding: 20px;
}

.floor {
	display: flex;
	border-bottom: 2px solid darkgray;
	padding-top: 10px;
	height: 100px;
}

.btns {
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 8px 15px;
	margin: 10px;
	border-radius: 3px;
	border:  none;	
	color: white;
	font-weight: bold;
	cursor: pointer;
	background: #eab308;
}

.btn:hover {
	background: #ca8a04;
}


.lifts {
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
}

.lift {
	height: 100%;
	width: 80px;
	background: #eab308;
}

.doors {
	height: 80%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.door {
	margin: 1px;
	background: rgba(0,0,0,0.5);
	width: 45%;
	transition: transform 2s;
	transition-duration: 1.5s;
}

.lift:hover {
	background: #facc15;
	cursor: pointer;
}

#input-form {
	width: 40%;
	padding: 30px;
	margin: 20px auto;
	border-radius: 15px;
	background: #eab308;
	text-align: center;
}

label, input {
	display: block;
	margin: auto;
}

label {
	margin-top: 20px;
	font-size: 20px;
	color: white;
}

input {
	padding: 4px 7px;
	margin: 5px auto;
	border-radius: 5px;
	width: 200px;
	border: none;
}

#generate-btn {
	margin: 15px auto;
	width: fit-content;
	background: white;
	color: #eab308;
}

@media (max-width:  768px) {
	.lifts {
		margin-left: 20px;
	}

	.lift {
		height: 60px;
		width: 40px;
	}

	.btn {
		padding: 2px;
		font-size: 10px;
	}

	.floors {
		margin: 10px;
		/*width: 100%;*/
	}

	h3 {
		font-size: 10px;
		float: left;
	}
}