body {
	margin: 0; padding: 0;
	font-family: Arial;
}

.hidden {
	display: none;
}

.heading {
	background: linear-gradient(30deg, #fbbf24, #38bdf8);
	padding: 1px;
}

h1 {
	text-align: center;
	color: white;
}

h3 {
	float: right;
}

.floors {
	margin: 50px;
	padding: 20px;
}

.floor {
	display: flex;
	border-bottom: 2px solid darkgray;
	padding-top: 30px;
}

.btns {
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 8px 15px;
	margin: 10px;
	border-radius: 3px;
	border:  none;
	color: white;
	cursor: pointer;
}

.btn:hover {
	background: rgba(0, 0, 0, 0.3);
}

.btn-yellow {
	background: #fbbf24;
}

.btn-blue {
	background: #38bdf8;
}

.lifts {
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
}

.lift {
	height: 100px;
	width: 80px;
	background: #a3e635;
}

.doors {
	height: 80%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.door-left, .door-right {
	margin: 1px;
	background: rgba(0,0,0,0.5);
	width: 45%;
	transition: transform 2.5s;
}

.lift:hover {
	background: #84cc16;
	cursor: pointer;
}

#input-form {
	width: 40%;
	padding:  30px;
	margin: 20px auto;
	text-align: center;
	background: linear-gradient(30deg, #38bdf8, #fbbf24);
	color: white;
	border-radius: 15px;
}

label, input {
	display: block;
	margin: auto;
}

label {
	margin-top: 12px;
	font-size: 20px;
}

input {
	padding: 4px 7px;
	margin: 5px auto;
	border:  none;
	border-radius: 5px;
}

#generate-btn {
	margin: 20px auto;
}